#widget-recent {
  margin-top: 10px;
}

.recent-container {
  display: grid;
  grid-template-columns: 60%  minmax(50px, 1fr);
  row-gap: 15px;
  column-gap: 5px;
}

.grid-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #fff;
}

.grid-item.content:hover,
.grid-item.project:hover {
  opacity: 0.8;
}

.grid-item.content .content__link {
  text-decoration: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: #fff;
}

.grid-item.content .content__link .content__icon {
  margin-right: 10px;
  height: 22px;
  filter: brightness(0) invert(1);
}

.grid-item.content .content__link .content__namepath {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
}

.cell-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.grid-item.content .content__link .content__namepath .content__name {
  font-size: 14px;
}

.grid-item.content .content__link .content__namepath .content__path {
  font-size: 12px;
  color: #bbb;
}

.grid-item.modified {
  font-size: 12px;
  text-align: center;
}

.grid-item.project {
  display: none;
}

.grid-item.project a {
  color: #fff;
}

.grid-item.project .project__name {
  font-size: 12px;
}

@media screen and (min-width: 769px) {
  .recent-container {
    grid-template-columns: 60% minmax(50px, 1fr) minmax(70px, 1fr);
  }

  .grid-item.project {
    display: flex;
  }
}
